.heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    border: 2px solid black;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(174, 245, 245);
    border-radius: 2rem;
}